*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-register{
    background-color: #10075C;
    color: white;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px; 
}
label{
    display: block;  
}
input{
    width: 65%;
    padding: 10px;
    border-radius: 4px;

}
p{
    display:inline-block;
    margin-top: 100px;
}
select{
    width: 65%;
    padding: 10px;
    border-radius: 4px;
}
textarea{
    width: 65%;
    height: 200px;
    padding: 10px;
    border-radius: 4px;
}
.container{
    position: relative;
    margin-left: 200px;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #3C51CA;
    color: white;
    margin-bottom: 40px;
}
